.callout {
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    opacity:0;
    display:block;
    -webkit-transition: opacity  .500s;
    -moz-transition: opacity  .500s;
    -o-transition: opacity  .500s;
    -ms-transition: opacity  .500s;
    transition: opacity  .500s;
}